body {
background-image: url(img/background.jpg);
background-repeat: no-repeat;
background-size: cover;
font-family: Arial;
color: white;
padding-top: 10%;
}
h1{color:rgb(24, 24, 24);
font-family: Verdana;}


.maindiv{
background-color: rgb(240, 239, 239);
color:rgb(12, 12, 12);
width: 600px;
padding: 50px;
border-radius: 25px;
margin: 0 auto;
}


